name: Build and Deploy Docs

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - mkdocs.yml
      - "docs/**"
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Cache tox
        uses: actions/cache@v5
        with:
          path: .tox
          key: tox-${{ hashFiles('pyproject.toml') }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "pyproject.toml"

      - name: Install tox
        run: python -m pip install tox

      - name: Build HTML documentation with tox
        run: tox -e docs

      - name: (main only) Publish built docs to GH pages
        id: deployment
        if: |
          ((github.event_name == 'push') && (github.ref == 'ref/heads/main')) ||
          ((github.event_name == 'workflow_dispatch') && (github.ref == 'ref/heads/main'))
        uses: actions/upload-pages-artifact@v4
        with:
          # path should be the -d, --site-dir target of the mkdocs build, that is run in
          # tox -e docs
          path: site
